@model Ajax2.Models.DepartmentsModel

@{
    ViewBag.Title = "Home Page";
}

<br />

@using (Ajax.BeginForm("FilterDepartmentsAjax",
                       new AjaxOptions
                       {
                           HttpMethod = "POST",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "department-table"
                       }))
{
    <label>Filter: </label>
    @Html.CheckBoxFor(model => model.Filtered, new { onclick = "$(this).parents('form:first').find(':submit')[0].click();" })
    <input type="submit" value="Submit" style="display: none" />
}

<div id="department-table">
    @{ Html.RenderPartial("DepartmentsTablePartial", Model); }    
</div>
